@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400&family=Roboto+Slab:wght@600&display=swap");
html {
  scroll-behavior: smooth; }

body {
  margin: 0; }

a {
  text-decoration: none;
  color: white; }

a:link, a:visited, a:focus, a:hover {
  color: white; }

.header {
  z-index: 100;
  position: fixed;
  background-color: #515e42;
  width: 100vw;
  height: 2vw; }
  .header__logo {
    display: inline;
    position: absolute;
    margin-left: 1vw;
    margin-top: 5px;
    height: 1.5vw; }
  .header__button {
    background: #515e42;
    margin-right: 2vw;
    color: white;
    padding: 0.25vw;
    font: 1vw "Noto Serif";
    border: none; }
    .header__button:hover {
      background-color: #dee2df;
      color: #192907;
      cursor: pointer;
      border-radius: 2px; }

.buying-form {
  display: none;
  z-index: 100;
  position: fixed;
  background-color: white;
  height: 65vh;
  width: 27vw;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 10%;
  border-radius: 9px;
  border: 3px solid #1e1e1e; }
  .buying-form__text {
    font: 1vw "Noto Serif";
    font-weight: bolder;
    text-align: center;
    margin-bottom: 2%; }
  .buying-form__title {
    font: 4vh "Noto Serif";
    font-weight: bold;
    color: #1e1e1e;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 8%; }
  .buying-form__contacts {
    font: 1vw "Noto Serif";
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px; }
  .buying-form__wraper {
    display: flex;
    justify-content: center; }
  .buying-form__button {
    background: #848484;
    border-radius: 9px;
    padding: 2px 3px;
    color: #1e1e1e;
    font: 1.5vw "Noto Serif";
    border: none;
    cursor: pointer; }

input[type="text"] {
  font: 3vh "Noto Serif";
  height: 5vh;
  color: #515e42; }

.form-on {
  display: block; }

.palette {
  display: flex;
  justify-content: end; }

.banner {
  background-image: url("../../res/Back.png");
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 100vh; }
  .banner__text {
    padding-top: 40vh;
    font: 100% "Roboto Slab";
    text-align: center;
    color: #dee2df;
    text-align: center;
    font-size: 10vh;
    letter-spacing: 5px; }

.slider {
  display: flex;
  justify-content: center;
  margin-top: 7px;
  cursor: pointer; }

.square {
  width: 4vh;
  height: 4vh;
  border-radius: 9px;
  background: #515e42;
  margin-left: 1vh;
  margin-right: 1vh; }

.line {
  width: 70%;
  height: 5px;
  border-radius: 9px;
  background: #515e42;
  margin-left: 50%;
  margin-top: 1%;
  margin-bottom: 2%;
  transform: translate(-50%); }

.projects {
  height: 100vh;
  z-index: 1; }
  .projects__galery {
    float: left;
    height: 100vh;
    width: 50%;
    background-color: #dee2df; }
  .projects__about {
    height: 100vh;
    float: right;
    width: 50%;
    background-color: white; }
    .projects__about__title {
      font: 4vh "Roboto Slab";
      text-align: center;
      margin-top: 10vh; }
    .projects__about__item {
      display: grid;
      grid: 100%/ 20% 60%;
      justify-content: left;
      column-gap: 2%;
      margin-left: 2%;
      margin-top: 2%; }
      .projects__about__item__photo {
        height: 6vw;
        border-radius: 9px;
        width: auto;
        object-fit: cover; }
      .projects__about__item__text {
        font: 0.75vw "Roboto Slab"; }
        .projects__about__item__text__data {
          font: 1vw "Noto Serif";
          font-weight: bolder;
          word-spacing: 20em; }
  .projects .row-palette {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    object-fit: cover;
    margin-top: 12vh; }
    .projects .row-palette__element {
      height: 22vh;
      width: auto;
      border-radius: 9px;
      margin-bottom: 4vh;
      margin-left: 50%;
      transform: translate(-50%);
      object-fit: cover; }

.sales {
  height: 100vh;
  z-index: 1;
  background-color: #a7a7a7; }
  .sales__title {
    font: 6vh "Roboto Slab";
    text-align: center;
    padding-top: 8vh; }
  .sales__cards {
    display: flex;
    margin-left: 10%;
    width: 80%;
    justify-content: space-around; }
    .sales__cards__item {
      background: white;
      width: 20vw;
      height: 60vh;
      border-radius: 9px;
      display: grid;
      grid-template-rows: 50% 10% 25% 15%; }
      .sales__cards__item__img {
        width: 100%;
        height: 90%;
        border-radius: 9px 9px 0 0;
        object-fit: cover; }
      .sales__cards__item__title {
        font: 1.5vw "Roboto Slab";
        text-align: left;
        margin-left: 5%; }
      .sales__cards__item__text {
        font: 1vw "Roboto Slab";
        text-align: left;
        margin-left: 5%; }
      .sales__cards__item__price {
        background-color: #515e42;
        height: 100%;
        width: 100%;
        border-radius: 0 0 9px 9px; }
        .sales__cards__item__price__text {
          font: 1.5vw "Noto Serif";
          color: white;
          text-align: center;
          margin-top: 5%;
          cursor: pointer;
          letter-spacing: 0.05em; }

.mini-banner {
  z-index: 1;
  background-image: url("../../res/back1.png");
  background-repeat: no-repeat;
  background-size: 100vw 20vh;
  height: 20vh; }

.company {
  height: 100vh;
  z-index: 1; }
  .company__title {
    font: 3vw "Roboto Slab";
    margin-left: 5em;
    margin-bottom: 0.5em;
    margin-top: 2em; }
  .company__reviews {
    float: left;
    width: 50%; }
    .company__reviews__item {
      display: grid;
      grid: 100%/ 20% 60%;
      justify-content: right;
      column-gap: 5%;
      margin-bottom: 5%; }
      .company__reviews__item__photo {
        height: 8vw;
        width: auto;
        object-fit: cover; }
      .company__reviews__item__text {
        margin-left: 1em;
        margin-top: 1.2em;
        font: 0.8vw "Roboto Slab"; }
        .company__reviews__item__text__title {
          font: 1vw "Roboto Slab"; }
  .company__about {
    float: right;
    width: 50%; }
    .company__about__wrapper {
      margin-top: 15vh;
      margin-left: 20%; }
    .company__about__text {
      padding: 1em;
      border: solid 3px #515e42;
      background-color: #dee3df;
      border-radius: 9px;
      font: 1vw "Roboto Slab";
      width: 20vw; }
    .company__about__logo {
      height: auto;
      width: 100%;
      object-fit: cover; }

.footer {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  height: 6vw;
  background-color: #515e42;
  display: flex;
  justify-content: center;
  column-gap: 5%;
  z-index: 1; }
  .footer__info {
    font: 1vw "Noto Serif";
    color: white;
    line-height: 1.5em;
    text-shadow: 1px 1px 1px #000; }
  .footer__media__title {
    font: 1vw "Noto Serif";
    color: white;
    text-shadow: 1px 1px 1px #000; }
  .footer__media__grid {
    display: grid;
    grid: 100%/ 20% 20% 20% 20%;
    column-gap: 3%;
    justify-content: center;
    margin-left: 1em;
    margin-top: 0.5em; }
    .footer__media__grid__element {
      height: 3vw;
      width: auto;
      cursor: pointer; }
