@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400&family=Roboto+Slab:wght@600&display=swap');

$font-main: "Noto Serif";
$font-details: "Roboto Slab";
$primary-color: rgba(81, 94, 66, 1);
$primary-color-bg:rgba(222, 227, 223, 1);
$black-color: rgba(30, 30, 30, 1);
$white-color: rgba(255, 255, 255, 1);
$grey-color: rgba(132, 132, 132, 1);
$light-grey-color: rgba(222, 226, 223, 1);
$grey-back:rgba(167, 167, 167, 1);
$round: 9px;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

a{
    text-decoration: none;
    color: $white-color;
}

a:link, a:visited,a:focus,a:hover {
    color: $white-color;
}


.header {
    z-index: 100;
    position: fixed;
    background-color: $primary-color;
    width: 100vw;
    height: 36px;

    &__logo {
        display: inline;
        position: absolute;
        margin-left: 10px;
        margin-top: 5px;
        height: 70%;
    }

    &__button {
        background: $primary-color;
        margin-right: 5%;
        padding: 7px;
        font-size: 22px;
        color: $white-color;
        font: 100% $font-main;
        border: none;

        &:hover {
            background-color: $light-grey-color;
            color: rgb(25, 41, 7);
            cursor: pointer;
            border-radius: 2px;
        }
    }

}

.buying-form{
    display: none;
    z-index: 100;
    position: fixed;
    background-color: $white-color;
    height: 60vh;
    width: 30vw;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 10%;
    border-radius: $round;
    border: 3px solid $black-color;
        &__title{
            font: 3vh $font-main;
            font-weight:bold;
            color: $black-color;
            text-align: center;
            margin-top: 4%;
            margin-bottom: 8%;
        }
        
        &__contacts{
            font: 3vh $font-main;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0px 10px;
        }
        &__wraper{
            display: flex;
            justify-content: center;
        }
        &__button{
            background: $grey-color;
            border-radius: $round;
            padding: 2px 3px;
            color: $black-color;
            font: 4vh $font-main;
            border: none;
            cursor: pointer;
        }
}

input[type="text"]{
    font: 3vh $font-main;
    height: 5vh;
    color: $primary-color;
}

.form-on{
    display: block;
}



.palette {
    display: flex;
    justify-content: end;
}

.banner {
    background-image: url('../../res/Back.png');
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;

    &__text {
        padding-top: 40vh;
        font: 100% $font-details;
        text-align: center;
        color: $light-grey-color;
        text-align: center;
        font-size: 10vh;
        letter-spacing: 5px;
    }
}

.slider{
    display: flex;
    justify-content: center;
    margin-top: 7px;
    cursor: pointer;
}

.square {
    width: 4vh;
    height: 4vh;
    border-radius: $round;
    background: $primary-color;
    margin-left: 1vh;
    margin-right: 1vh;
}


.line{
    width: 70%;
    height: 5px;
    border-radius: $round;
    background: $primary-color;
    margin-left: 50%;
    margin-top: 1%;
    margin-bottom: 2%;
    transform: translate(-50%);
}

.projects{
    height: 100vh;
    z-index: 1;
    &__galery{
        float:left;
        height: 100vh; 
        width: 50%;
        background-color: $light-grey-color;
    }

    &__about{
        height: 100vh;
        float:right;
        width: 50%;
        background-color: $white-color;
        
        &__name{
            font: 4vh $font-details;
            text-align: center;
            margin-top: 10vh;
        }

        &__photo {
        float: left;
        width: 25%;
        }
                                            
        &__text{
        float:right;
        width:70%;
        }
    }

    .row-palette{
        display: flex;
        flex-direction: column;
        margin-top: 12vh;

        &__element{
            height:22vh;
            width: auto;
            border-radius: $round;
            margin-bottom: 4vh;
            margin-left: 50%;
            transform: translate(-50%);
            object-fit: cover;
        }

        &__reviews{
            height:15vh;
            width: auto;
            border-radius: $round;
            margin-left: 4vw;
            margin-top: 3vh;
            margin-bottom: 2vh;
            object-fit: cover;
        }

        &__text{
            font: 2vh $font-details;
            padding-bottom: 1vh;
            padding-top: 2vh;

            &__data{
                word-spacing: 20em;
                font: 2vh $font-main;
                font-weight: bold;
            }
        }
    }
}

.sales{
    height: 100vh;
    z-index: 1;
    background-color: $grey-back;
     &__title{
        font: 6vh $font-details;
        text-align: center;
        padding-top: 8vh;
    }

    &__cards{
        display: flex;
        margin-left: 10%;
        width: 80%;
        justify-content: space-around;

        &__item{
            background: $white-color;
            width: 20vw;
            height: 60vh;
            border-radius: $round;
            display: grid;
            grid-template-rows: 50% 10% 25% 15%;

            &__img{
                width: 100%;
                height: 90%;
                border-radius: $round $round 0 0;
                object-fit: cover;
            }

            &__title{
                font: 4vh $font-details;
                text-align: left;
                margin-left: 5%;
            }

            &__text{
                font: 2vh  $font-details;
                text-align: left;
                margin-left: 5%;
            }

            &__price{
                background-color: $primary-color;
                height: 100%;
                width: 100%;
                border-radius: 0 0 $round $round;
                &__text{    
                    font: 4vh $font-main;
                    color: $white-color;
                    text-align: center;
                    margin-top: 5%;            
                    cursor: pointer;
                    letter-spacing: 0.05em;
                }
            }
        }
    }
}

.mini-banner{
    z-index: 1;
    background-image: url('../../res/back1.png');
    background-repeat: no-repeat;
    background-size: 100vw 20vh;
    height: 20vh;
}

//миксин на длину линии миксин на цвета слайдера размер текста в карточке

.company{
    height: 100vh;
    z-index: 1;
    &__title{
        font:5vh $font-details;
        margin-left: 5em;
        margin-bottom: 0.5em;
        margin-top: 2em;
    }

    &__reviews{
        float:left; 
        width: 50%;
        &__item{
            display: grid;
            grid: 100%/ 20% 60%;
            justify-content: right;
            column-gap: 5%;
            margin-bottom: 5%;

            &__photo{
                height:20vh;
                width:auto;
                object-fit: cover;
            }

            &__text{
                margin-left: 1em;
                margin-top: 1.2em;
                font: 2vh $font-details;
                &__title{
                    font: 120% $font-details;
                }
            }
        }
    }

    &__about{
        float:right; 
        width: 50%;

        &__wrapper{
            margin-top: 15vh;
            margin-left: 20%;
        }

        &__text{
            padding: 1em;
            border: solid 3px $primary-color;
            background-color: $primary-color-bg;
            border-radius: $round;
            font: 2vh $font-details;
            width: 50%;
        }

        &__logo{
            height: auto;
            width: 100%;
            object-fit: cover;
        }
    }
}

.footer{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: 15vh;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    column-gap: 5%;
    z-index: 1;

    &__info{
        font: 2vh $font-main;
        color: $white-color;
        line-height: 1.5em;
        text-shadow: 1px 1px 1px #000;
    }

    &__media{
        &__title{
        font: 3vh $font-main;
        color: $white-color;
        text-shadow: 1px 1px 1px #000;
        }

        &__grid{
            display: grid;
            grid: 100%/ 25% 25% 25% 25%;
            justify-content: center;
            margin-left: 1em;
            margin-top: 0.5em;

            &__element{
                height: 9vh;
                width: auto;
                cursor: pointer;
            }
        }
        
    }

}

